{% extends 'base.html' %}
{% block page_content %}
<div class = "col-md-8 offset-md-2">
    <h1>{{ category | title }}</h1>
    <hr>
    {% for news in newss %}
    <h2><a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a></h2>
    <small>
        {{ news.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'news_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <h3>About:</h3>
    <p>{{ news.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}